*{
	margin:0;
}

html{
	height:100%;
}

body{
	background-color:#f2f2f2;
	width:100%;
	height:100%;
	font-family: Verdana, Geneva, sans-serif;
}


#wrap {
	min-height: 100%;
}

header{
	top:0;
	margin-top:0;
	width : 100%;
	height: 130px;
	background-image:url(../images/brickwall.png);
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);	
	text-shadow: 0 1px 0 #FFF; 
}

.pseudo {
	color:#2283c4;
}

#nav a:link {
	color:#000;
	text-decoration:none;
}

#nav a:visited {
	color:#000;
	text-decoration:none;
}

#nav {
	float:right;
	margin-top:60px;
	margin-right:220px;
	font-size:0.95em;
}

#dec {
	font-weight:bold;
}

#nav a:hover {
	color:#ff8900;
}

#nav li {
	display:inline;
	padding:10px;
	font-size:1em;
	font-family:Verdana, Geneva, sans-serif;
}

#logo {
	position:absolute;
	z-index:1;
	margin-top:25px;
	margin-left:10%;
}

#main {
	margin-top:50px;
	overflow:auto;
	padding-bottom: 90px;
	width: 80%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:50px;
}  

label{
	display: block; 
	width: 150px;
	float: left;
	color:#6a6a6a;
	text-shadow: 0 1px 0 #fff; 
	padding-bottom:10px;
}

input {
	width : 160px;
	margin-bottom:10px;
}

#main fieldset {
	width:30%;
	padding:20px;
	margin-right:auto;
	border:none;
	margin-left:auto;
	border-radius:5px;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);	
}


#content {
	padding:20px;
	width:70%;
	margin-right:auto;
	margin-left:auto;
	margin-top:5px;
	border-radius:10px;
	background-color:#FFF;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	display:inline-block;
}

#barre {
	position:absolute;
	padding:20px;
	padding-bottom:10px;
	margin-left:20px;
	margin-top:5px;
	display:inline-block;
	border-radius:10px;
	background-color:#FFF;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	
}

#barre img {
	padding:5px;
	margin-bottom:10px;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

#barre ul {
	text-decoration:none;
}

#barre p {
	padding:5px;
	text-align:left;
	color:#2283c4;
}

#global { 
	width:80%; 
	margin-right:auto; 
	margin-left:auto; 
	text-align: center;
}

.pair  { 
	text-align: left;
	margin-left:40px;
}

.impair  { 
	text-align: left; 
	margin-left:40px;
}

img {
  vertical-align:middle;
}

#content_camera {
	width:80%;
	padding:20px;
	margin-right:auto;
	margin-left:auto;
	margin-top:5px;
	border-radius:10px;
	background-color:#FFF;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

#content_camera a:link, a:visited {
	text-decoration:none;
}

#main h2 {
	padding:20px;
	color:#7a7a7a;
	text-shadow: 0 1px 0 #fff; 
}

#main h3 {
	margin-bottom:20px;
	color:#7a7a7a;
	text-shadow: 0 1px 0 #fff; 
}

#noms {
	color:#7a7a7a;
	font-size:0.9em;
	text-shadow: 0 1px 0 #fff; 
	padding-top:20px;

}

#mailto {
	color:#2283c4;
	text-decoration:none;
	font-size:0.95em;
}

#mailto :link ,:visited{
	color:#2283c4;
	text-decoration:none;
	font-size:0.95em;
}

#mailto img{
	box-shadow:none;
}

footer {
	width : 100%;
	height : 100px;
	background-image:url(../images/brickwall.png);
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);	
	position: relative;
	margin-top: -90px; 
	clear:both;
} 



