<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ppd_alarme5"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission 
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ppd_alarme5.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="mainactivity.IndexActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="fonctionactivity.IndexListCamActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="fonctionactivity.IndexHistoActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="fonctionactivity.IndexListeNotifActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="fonctionactivity.IndexProfilActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="voircamactivity.VoirAppActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="voiralerteactivity.VoirHistoAlerteActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="voirnotifactivity.VoirNotifActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="modifprofilactivity.ProfilModifMdpActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="modifprofilactivity.ProfilModifEmailActivity"
            android:label="@string/app_name">
        </activity>
        
          <activity android:name="voircamactivity.VoirStreamActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="voircamactivity.VoirInfraActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
